<MudExpansionPanel Text="Product Info" IsInitiallyExpanded=true Icon="@Icons.Material.Filled.Info">
    <div class="mb-3 col-xl-5">
        <MudTextField @bind-Value="productVM.Name" Label="Name" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="Color.Info" />
    </div>
    <div class="mb-3 col-xl-5">
        <MudTextField @bind-Value="productVM.ShortDescription" Label="ShortDescription" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="Color.Info" />
    </div>
    <div class="mb-3 col-xl-5">
        <MudTextField @bind-Value="productVM.FullDescription" Label="FullDescription" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="Color.Info" />
    </div>
    <div class="mb-3 col-xl-5">
        <MudTextField @bind-Value="productVM.AdminComment" Label="AdminComment" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentColor="Color.Info" />
    </div>
    <div class="mb-3 col-xl-5">
        <MudSwitch @bind-Checked="@productVM.Enable" Color="Color.Primary">Enable</MudSwitch>
    </div>
</MudExpansionPanel>

<MudExpansionPanel Text="Related products" IsInitiallyExpanded=true Icon="@Icons.Material.Filled.Info">

</MudExpansionPanel>

