@page "/Product/Create"
<h3>Product Create</h3>
<p>
    This component insert product data to the server.
</p>

<EditForm Model="@productVM" OnValidSubmit="CreateData" class="card card-body bg-light">
    <MudExpansionPanels MultiExpansion="true">
        <MudPaper Elevation="25">
            <footer>
                <MudIconButton Icon="@Icons.Material.Outlined.Cancel" OnClick="BackToList" />
                <MudIconButton Icon="@Icons.Material.Outlined.Save" ButtonType="ButtonType.Submit" />
            </footer>
        </MudPaper>
        <_CreateOrUpdate productVM="@productVM" />
    </MudExpansionPanels>
</EditForm>