@page "/Product/Edit/{Id:int}"
<h3>Product Edit</h3>
<p>
    This component edit product data to the server.
</p>

<EditForm Model="@productVM" OnValidSubmit="EditData" class="card card-body bg-light">
    <MudExpansionPanels MultiExpansion="true">
        <MudPaper Elevation="25">
            <footer>
                <MudIconButton Icon="@Icons.Material.Outlined.Cancel" OnClick="BackToList" />
                <MudIconButton Icon="@Icons.Material.Outlined.Save" ButtonType="ButtonType.Submit" />
            </footer>
        </MudPaper>
        <_CreateOrUpdate productVM="@productVM" productId="Id" />
    </MudExpansionPanels>
</EditForm>



